<ul>
    {{#each model.answers as |answer|}}
        <li>
            <div class="answer">
                <strong class="answer-author">{{answer.author}} writes:</strong>
                <br>
                <p>
                    {{answer.body}}
                </p>
            </div>
        </li>
    {{/each}}
</ul>
