<form>
    <div class="form-group">
        {{input value=author id="author"}}
        <br>
        {{textarea value=body id="body"}}
    </div>
    <button {{action 'saveAnswer'}}> Save </button>
</form>
