/*@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');*/
@import url('https://fonts.googleapis.com/css?family=Kalam|Kaushan+Script');

div {
    /*border: solid;*/
}

li {
    list-style-type: none;
}

body {
    background-color: #E9E9E9;
    padding-left: 25px;
    padding-right: 25px;
}

#top {
    background-color: #ADD8E6;
    margin-top: 10px;
    height: 110px;
    padding: 5px;
    padding-left: 20px;
    /*font-family: 'Kaushan Script', cursive;*/
    font-family: 'Kalam', cursive;
    font-weight: none;
    border-radius: 3px;
}

#top p {
    font-size: 17px;
}

#top h1 {
    font-size: 45px;
}

.form-holder {
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.question {
    /*height: 60px;*/
    /*padding: 10px;*/
    background-color: #FDF7EF;
    margin-left: none;
    padding-left: 35px;
    width: 100%;
    border-radius: 3px;
}

textarea {
    height: 100px;
    width: 300px;
}

.question-top {
    background-color: #FDF7EF;
    margin-left: none;
    margin-left: 35px;
    padding-left: 35px;
    width: 100%;
    border-radius: 3px;
}

.answer {
    margin-left: 55px;
}

.answer-title {
    font-size: 20px;
    margin-left: 70px;
    margin-top: 40px;
}
