div {
    /*border: solid;*/
}

li {
    list-style-type: none;
}

#top {
    background-color: #ADD8E6;
    margin-top: -20px;
    height: 100px;
    padding: 5px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: left;
}

.form-holder {
    border: solid;
    margin-top: 70px;
    margin-left: 30px;
}
