<div id="top">
    <h1>{{#link-to 'index'}} Q&A Board {{/link-to}}</h1>
    <p>We answer your questions, so you dont have to.</p>
</div>
{{outlet}}

<footer><strong> Disclaimer: </strong> not all answers are factual. In fact, none are. Fake news.</footer>
