
<div class="question-holder">
    <ul>
        {{#each model as |question|}}
        {{question-tile question=question}}
        {{/each}}
    </ul>
</div>

<div id="new-question-holder">
    {{new-question saveQuestion="saveQuestion"}}
</div>
